[Unit]
Description=Config Guard
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/osso/.local/bin/config-guard guard --path /home/osso/.config --path /home/osso/.local/share --path /home/osso/.local/state --path /etc --path /var/lib --path /var/log --path /var/cache --exclude-path /home/osso/.config/archive --exclude-path /var/lib/docker --config /home/osso/.config/config-guard/config.toml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
